<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAJQ7NEXQZRM4MCU4Q"/>
    <add key ="AWSSecretKey" value="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"/>
  </appSettings>
</configuration>